.topNav {
  height: 30px;
  background-color: #708090;
  color: #fff;
}
.topNav a {
  align-content: left;
  text-align: center;
  padding: 12px;
  font-size: 18px;
}
.topNav-right {
  float: right;
}
.form-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
}
.loginText {
  width: 10em;
}
.form {
  width: 10em;
}
